<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KT6H7LH');
    </script>
    <title><%= reporting.campaign_name %> - <%= reporting.advertiser_name %>- Antenne Solutions Business</title>
    <link rel="icon"
        href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
        sizes="32x32" />
    <style>
        body {
            background: #fff;
            font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif;
        }

        #reporting-board {
            background: #fff;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6H7LH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div class="container p-2 mt-2 mb-2" id="reporting-board">

        <% if(reporting.campaign_end_date < reporting.reporting_dates.reporting_end_date) { %>
        <!-- Alerte de mise à jour des statistiques -->
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 30px;">
            <strong>Les statistiques de cette campagne sont mises à jour toutes les 2 heures. (Prochaine MAJ :
                <%= reporting.reporting_dates.reporting_end_date %> )</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <!-- En-tête de la campagne -->
        <div class="row p-3 m-5">
            <div class="col-md-3">
                <a href="https://antennesb.fr/">
                    <img src="/admin/photos/logo.png" alt="logo_antenne" />
                </a>
            </div>
            <div class="col-md-9">
                <h2 class="position-absolute top-50 start-50"><%= reporting.campaign_name %></h2>
            </div>
        </div>

        <!-- Informations principales de la campagne -->
        <div class="row p-1 m-5">
            <div class="col-md-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Date de génération du rapport de campagne</strong>:
                        <%= reporting.reporting_dates.reporting_start_date %>
                    </li>
                    <li class="list-group-item">
                        <strong>Nom de la campagne</strong>: <%= reporting.campaign_name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Annonceur</strong>: <%= reporting.advertiser_name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Période diffusion</strong>: Du <%= reporting.campaign_start_date_formatted %> au
                        <%= reporting.campaign_end_date_formatted %>
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <!-- Bilan global de la campagne -->
        <div class="row p-3 m-5" id="table_uu">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>Bilan global de la campagne</strong>
            </h3>
            <table class="table">
                <thead class="text-center thead-dark">
                    <tr>
                        <th scope="col">Impressions</th>
                        <th scope="col">Clics</th>
                        <th scope="col">Taux de clics</th>
                        <th scope="col">Visiteurs uniques</th>
                        <th scope="col">Répétition</th>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <th scope="col">VTR</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td><%= reporting.globalMetrics.totalImpressions.toLocaleString('fr-FR') %></td>
                        <td><%= reporting.globalMetrics.totalClics.toLocaleString('fr-FR') %></td>
                        <td><%= reporting.globalMetrics.ctrGlobal.toLocaleString('fr-FR') %>%</td>
                        <td><%= reporting.globalMetrics.uniqueVisitors.toLocaleString('fr-FR') %></td>
                        <td><%= reporting.globalMetrics.repetition.toLocaleString('fr-FR') %></td>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <td>
                            <%= reporting.globalMetrics.completionRateGlobal.toLocaleString('fr-FR') %>%</td> <% } %>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Affichage par format -->
        <div class="row p-3 m-5" id="table_global_format">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>Par Format</strong>
            </h3>
            <table class="table" id="table_campaigns">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Format</th>
                        <th scope="col" class="text-right">Impressions</th>
                        <th scope="col" class="text-right">Clics</th>
                        <th scope="col" class="text-right">Taux de clics</th>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <th scope="col">VTR</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let format in reporting.metrics.byFormat) { %>
                    <tr>
                        <td><%= format.toUpperCase() %></td>
                        <td class="text-right">
                            <%= reporting.metrics.byFormat[format].impressions.toLocaleString('fr-FR') %></td>
                        <td class="text-right"><%= reporting.metrics.byFormat[format].clics.toLocaleString('fr-FR') %>
                        </td>
                        <td class="text-right"><%= reporting.metrics.byFormat[format].ctr.toLocaleString('fr-FR') %>%
                        </td>
                        <% if(reporting.metrics.byFormat[format].vtr != "0.00") { %> <td>
                            <%= reporting.metrics.byFormat[format].vtr.toLocaleString('fr-FR') %>%</td> <% } else { %>
                        <td>-</td> <% } %>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot class="table-dark">
                    <tr>
                        <td><strong>Total</strong></td>
                        <td class="text-right"><%= reporting.globalMetrics.totalImpressions.toLocaleString('fr-FR') %>
                        </td>
                        <td class="text-right"><%= reporting.globalMetrics.totalClics.toLocaleString('fr-FR') %></td>
                        <td class="text-right"><%= reporting.globalMetrics.ctrGlobal.toLocaleString('fr-FR') %>%</td>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <td>
                            <%= reporting.globalMetrics.completionRateGlobal.toLocaleString('fr-FR') %>%</td> <% } %>
                    </tr>
                </tfoot>
            </table>
        </div>

        <hr />

        <!-- Affichage par site -->
        <div class="row p-3 m-5" id="table_by_site">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>Par Site</strong>
            </h3>
            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Site</th>
                        <th scope="col" class="text-right">Impressions</th>
                        <th scope="col" class="text-right">Clics</th>
                        <th scope="col" class="text-right">Taux de clics</th>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <th scope="col">VTR</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let site in reporting.metrics.bySite) { %>
                    <tr>
                        <td><%= site %></td>
                        <td class="text-right"><%= reporting.metrics.bySite[site].impressions.toLocaleString('fr-FR') %>
                        </td>
                        <td class="text-right"><%= reporting.metrics.bySite[site].clics.toLocaleString('fr-FR') %></td>
                        <td class="text-right"><%= reporting.metrics.bySite[site].ctr.toLocaleString('fr-FR') %>%</td>
                        <% if(reporting.globalMetrics.completionRateGlobal != "0.00") { %> <th scope="col">VTR</th>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <hr />


        <!-- Affichage par format et par site -->
        <div class="row p-3 m-5" id="table_by_format_site">

            <% for (let format in reporting.metrics.byFormatAndSite) { %>
           
                <h3 class="title">
                    <i class="fas fa-chart-line"></i>
                    <%= format.toUpperCase() %>
                </h3>
                <table class="table mb-4">
                    <thead class="text-left thead-dark">
                        <tr>
                            <th scope="col">Site</th>
                            <th scope="col" class="text-right">Impressions</th>
                            <th scope="col" class="text-right">Clics</th>
                            <th scope="col" class="text-right">Taux de clics</th>
                            <% if (reporting.globalMetrics.completionRateGlobal != "0.00") { %>
                            <th scope="col" class="text-right">VTR</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                            // Trier les sites par ordre alphabétique pour chaque format
                            const sortedSites = Object.keys(reporting.metrics.byFormatAndSite[format]).sort();
                            sortedSites.forEach(site => {
                        %>
                        <tr>
                            <td><%= site %></td>
                            <td class="text-right">
                                <%= reporting.metrics.byFormatAndSite[format][site].impressions.toLocaleString('fr-FR') %>
                            </td>
                            <td class="text-right">
                                <%= reporting.metrics.byFormatAndSite[format][site].clics.toLocaleString('fr-FR') %>
                            </td>
                            <td class="text-right">
                                <%= (reporting.metrics.byFormatAndSite[format][site].ctr * 100).toFixed(2).toLocaleString('fr-FR') %>%
                            </td>
                            <% if (reporting.globalMetrics.completionRateGlobal != "0.00") { %>
                            <td class="text-right">
                                <%= (reporting.metrics.byFormatAndSite[format][site].vtr * 100).toFixed(2).toLocaleString('fr-FR') %>%
                            </td>
                            <% } %>
                        </tr>
                        <% }) %>
                    </tbody>

                </table>
            
            <% } %>
        </div>

        <hr />

        <!-- Affichage par créative -->
        <div class="row p-3 m-5" id="table_by_creative">
            <h3 class="title">
                <i class="fas fa-chart-line"></i>
                <strong>Par Créative</strong>
            </h3>
            <table class="table">
                <thead class="text-left thead-dark">
                    <tr>
                        <th scope="col">Créative</th>
                        <th scope="col" class="text-right">Impressions</th>
                        <th scope="col" class="text-right">Clics</th>
                        <th scope="col" class="text-right">Taux de clics</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let creative in reporting.metrics.byCreatives) { %>
                    <tr>
                        <td><%= creative %></td>
                        <td class="text-right">
                            <%= reporting.metrics.byCreatives[creative].impressions.toLocaleString('fr-FR') %></td>
                        <td class="text-right">
                            <%= reporting.metrics.byCreatives[creative].clics.toLocaleString('fr-FR') %></td>
                        <td class="text-right">
                            <%= reporting.metrics.byCreatives[creative].ctr.toLocaleString('fr-FR') %>%</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>